# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
tfplan
*.tfplan
crash.log
tfplan.json
plan.json

# Lambda build
terraform/lambda/handler.zip

# Local
evidence/
evidence-out/
*.cosign.bundle
conftest.txt
opa-test.txt
apply.txt
.DS_Store
